<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modalHeader clearfix">
          <img src="../../../../../assets/images/emtec.png" alt="avatar" />
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
              Add Sub Category
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      mat-icon-button
      (click)="dialogRef.close()"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="subcategoryForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select  (selectionChange)="onSelectCategory($event)" formControlName="category_id">
              <mat-option *ngFor="let category of categories" [value]="category.id" >{{ category.categoryName }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> 
      <!-- <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>GL Subhead</mat-label>
            <input matInput formControlName="glSubHead" required />
            <mat-error
              *ngIf="subcategoryForm.get('glSubHead').hasError('required')"
            >
            GL Subhead is required
            </mat-error>
          </mat-form-field>
        </div>
      </div> -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Subcategory name</mat-label>
            <input matInput formControlName="subcategoryName" required />
            <mat-error
              *ngIf="subcategoryForm.get('subcategoryName').hasError('required')"
            >
            Subcategory name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Subcategory description</mat-label>
            <textarea formControlName="subcategoryDescription" matInput></textarea>
            <mat-error
            *ngIf="subcategoryForm.get('subcategoryDescription').hasError('required')"
          >
          Subcategory description is required
          </mat-error>
          </mat-form-field>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row" align="end">
            <button
              mat-raised-button
              color="primary"
              [disabled]="!subcategoryForm.valid"
              (click)="addSubcategory()"
            >
              Save
            </button>
            <button mat-raised-button color="warn" (click)="onCancel()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
